<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sales Database</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="style.css" />
  </head>

  <body>
		<nav class="navbar">
      	<a href="https://tamelessdesigns.com/">Tameless Designs</a>
				<h4 class="navbar-brand">SALES DATA PORTAL</h4>
    		<a href="sales_analysis.html">Sales Analysis</a>
			</nav>
		
		<div id="mainDiv" class="container-fluid">
  		<div class="row headRow">
				<div class="col-lg-2"></div>
    		<div class="col-lg-1"><br/><h5>Id #</h5></div>
				<div class="col-lg-1"><br/><h5>Item</h5></div>
				<div class="col-lg-1"><br/><h5>Size</h5></div>
				<div class="col-lg-1"><br/><h5>Color</h5></div>
				<div class="col-lg-1"><br/><h5>Design</h5></div>
				<div class="col-lg-1"><br/><h5>Quantity</h5></div>
				<div class="col-lg-1"><br/><h5>Price</h5></div>
				<div class="col-lg-1"><br/></div>
  		</div>
			
			<!--New Row-->
  		<div class="row">
				<div class="col-lg-2"></div>
    		<div class="col-lg-1" v-if="editMode==false">{{ id }} </div>
				<div class="col-lg-1" v-if="editMode==true"> <input class="form-control" type="text" v-model="id" placeholder=""> </div>
				
				<div class="col-lg-1" v-if="editMode==false">{{ item }} </div>
				<div class="col-lg-1" v-if="editMode==true"> <input class="form-control" type="text" v-model="item" placeholder=""> </div>
				
				<div class="col-lg-1" v-if="editMode==false">{{ size }} </div>
				<div class="col-lg-1" v-if="editMode==true"> <input class="form-control" type="text" v-model="size" placeholder=""> </div>
				
				<div class="col-lg-1" v-if="editMode==false">{{ color }} </div>
				<div class="col-lg-1" v-if="editMode==true"> <input class="form-control" type="text" v-model="color" placeholder=""> </div>
				
				<div class="col-lg-1" v-if="editMode==false">{{ design }} </div>
				<div class="col-lg-1" v-if="editMode==true"> <input class="form-control" type="text" v-model="design" placeholder=""> </div>
				
				<div class="col-lg-1" v-if="editMode==false">{{ quantity }} </div>
				<div class="col-lg-1" v-if="editMode==true"> <input class="form-control" type="text" v-model="quantity" placeholder=""></div>
				
				<div class="col-lg-1" v-if="editMode==false">{{ totalPrice }} </div>
				<div class="col-lg-1" v-if="editMode==true"> <input class="form-control" type="text" v-model="totalPrice" placeholder=""> </div>

				<div class="col-lg-1"> 
					<button v-if="editMode==false" @click="edit"> Edit </button>
					<button v-if="editMode==true" @click="save"> Save </button>
				</div> 
  		</div>
		</div>
		<footer><b>Tameless Designs</b>
			<br/>Sales Database and Analytics Portal</footer>
		
		<!-- Vue CDN -->
  	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.8/dist/vue.js"></script>
			<script>
			new Vue({ 
				el: '#mainDiv', 
				data: {
					editMode: true,
				},
				methods: {
					edit: function(){
						this.editMode = true;
					},
					save: function(){
						this.editMode = false;
					},
				},
			})
			</script>	
	</body>
</html>	